.CustomItemListFuncContainer {
  list-style-type: none;
  padding: 0;
  text-align: left;
}
.CustomItemListFuncContainer li {
  display: inline-block;
  margin: 5px;
}
.CustomItemListDisplayContainer {
  list-style-type: none;
  padding: 0;
  text-align: right;
}
.CustomItemListDisplayContainer li {
  display: inline-block;
  margin: 5px;
  direction: rtl;
  color: white;
}
.CustomItemListDisplayContainer li span:first-child {
  font-weight: bold;
}
.CustomItemListContainer {
  background-color: rgb(114, 114, 114);
  border-radius: 5px;
  margin-top: 20px;
}
